<?xml version='1.0' encoding='utf-8'?>

<robot name="mmp_panda" version="1.0">

  <!-- GROUND LINK -->
  <link name ="ground_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1E-06" ixy="0.0" ixz="0.0" iyy="1E-06" iyz="0.0" izz="1E-06" />
    </inertial>
  </link>


  <!-- MOBILE BASE LINKS -->
  <link name ="base_x">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1E-06" ixy="0.0" ixz="0.0" iyy="1E-06" iyz="0.0" izz="1E-06" />
    </inertial>
  </link>

  <link name = "base_y">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value = "0.001" />
      <inertia ixx="1E-06" ixy="0.0" ixz="0.0" iyy="1E-06" iyz="0.0" izz="1E-06" />
    </inertial>
  </link>

  <link name = "base_theta">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value = "2230" />
      <inertia ixx="285" ixy="0.0" ixz="0.0" iyy="546" iyz="0.0" izz="700" />
    </inertial>
    <visual>
      <geometry>
        <!-- <mesh filename="../../../model/jointcart2/jointcart2_wheeled.obj" /> -->
        <mesh filename="../../../model/jointcart_fetch/jointcart_fetch.obj" />
      </geometry>
    </visual>
  </link>


  <!-- MOBILE BASE + LINK 0 OF PANDA ARM -->
  <link name = "base_fix">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value = "0.001" />
      <inertia ixx="1E-06" ixy="0.0" ixz="0.0" iyy="1E-06" iyz="0.0" izz="1E-06" />
    </inertial>
  </link>

  <!--<link name = "base_z">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value = "64.6" />
      <inertia ixx="1.721" ixy="0.0" ixz="0.0" iyy="1.712" iyz="0.0" izz="2.030" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../../../model/jointcart2/joint cart2.obj" />
      </geometry>
    </visual>
  </link> -->

<!-- PRISMATIC LINK -->
  <link name="linkTool">
    <inertial>
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="0.3" iyy="0.3" izz="0.3" ixy="0" ixz="0" iyz="0" />
    </inertial>

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.01" length="0.1" />
      </geometry>
        <material name="material_cyan">
          <color rgba="0 1.0 1.0 1.0" />
        </material>
    </visual>
    <visual>
      <origin xyz="0.04 0.0 0.025" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.02 0.01" />
      </geometry>
        <material name="material_blue">
          <color rgba="0 0 1 1"/>
        </material>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.01" length="0.1" />
      </geometry>
        <material name="material_cyan">
          <color rgba="0 1.0 1.0 1.0" />
        </material>
    </collision>
    <collision>
      <origin xyz="0.04 0.0 0.025" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.02 0.01" />
      </geometry>
        <material name="material_blue">
          <color rgba="0 0 1 1"/>
        </material>
    </collision>
  </link>

  <!-- JOINTS -->
  <joint name = "base_prismatic_x" type = "prismatic">
    <origin xyz = "0 0 0.01" rpy = "0 0 0"/>
    <parent link = "ground_link" />
    <child link= "base_x"/>
    <axis xyz = "1 0 0" />
    <calibration rising="0.0" />
    <limit effort="87" lower="-5" upper="5" velocity="0.2" />
  </joint>

  <joint name = "base_prismatic_y" type = "prismatic">
    <origin xyz = "0 0 0.01" rpy = "0 0 0"/>
    <parent link = "base_x" />
    <child link= "base_y"/>
    <axis xyz = "0 1 0" />
    <calibration rising="0.0" />
    <limit effort="87" lower="-5" upper="5" velocity="0.2" />
  </joint>

  <joint name = "base_revolute" type = "revolute">
    <origin xyz = "0 0 0.01" rpy = "0 0 0"/>
    <parent link = "base_y" />
    <child link= "base_theta"/>
    <axis xyz = "0 0 1" />
    <calibration falling="0.0" />
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750" />
  </joint>

  <joint name = "base_fixed" type = "fixed">
    <origin xyz = "0 0 0.01" rpy = "0 0 1.57079632679"/>
    <parent link = "base_theta" />
    <child link= "base_fix"/>
    <axis xyz = "0 0 1" />
    <calibration rising="0.0" />
    <limit effort="87" lower="0" upper="2.0" velocity="0.2" />
  </joint>

  <!--<joint name = "base_prismatic_z" type = "prismatic">
    <origin xyz = "0 0 0" rpy = "0 0 0"/>
    <parent link = "base_fix" />
    <child link= "base_z"/>
    <axis xyz = "0 0 1" />
    <calibration rising="0.0" />
    <limit effort="87" lower="0" upper="2.0" velocity="0.2" />
  </joint> -->

  <joint name = "jointTool" type = "prismatic">
    <origin xyz = "0 0 0.01" rpy = "0 0 1.57"/>
    <parent link = "base_fix" />
    <child link= "linkTool"/>
    <axis xyz = "0 0 1" />
    <calibration rising="0.0" />
    <limit effort="87" lower="0" upper="2.0" velocity="0.2" />
  </joint>


</robot>
